.form-page
  max-width: 700px
  border-radius: 6px
  background-color: #eee
  padding: 40px 20px
  margin: 0 auto

  .form-error
    text-align: right
    color: #a94442
  .btn
    margin-right: 10px
