.timezone-tile
  text-align: center

  .inner
    background-color: #eee
    border-radius: 6px
    padding: 40px 10px
    margin-bottom: 20px

    .btn
      margin-top: 20px
      width: 80%

.list-actions
  margin-bottom: 20px

